@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 767px) {
  .container {
    row-gap: 8rem;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .bio__pic-content {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
  }
  .bio-data {
    text-align: center;
  }
  .project__data {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .project__data:not(:last-child) {
    margin-bottom: 6rem;
  }
  .project__pic-content {
    order: -1;
  }
  .project__info {
    text-align: center;
  }
  .clients__opinions {
    font-size: var(--font-size-24);
  }
  .contact {
    row-gap: 6rem;
  }
  .contact__formContent {
    order: -1;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0;
  }
  .header::before {
    max-height: 100%;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    align-self: center;
  }
  .burger-menu__bar {
    background-color: var(--color-text);
    width: 4.375rem;
    height: 0.4rem;
    transition: var(--transition-timing);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    visibility: hidden;
    opacity: 0;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
  .navigation {
    position: absolute;
    background-color: var(--color-background);
    padding: 1.5rem 0;
    min-width: 100%;
    border-bottom: 0.1rem solid var(--color-text);
    top: 0;
    z-index: -2;
    transition: var(--transition-timing);
  }
  .header:has(.burger-menu__checkbox:checked) .navigation {
    top: 100%;
  }
  .navigation__list {
    justify-content: center;
  }
  .toggle {
    padding: 3rem 0;
  }

  .bio__heading,
  .bio__objective {
    text-align: center;
  }
  .bio__buttons {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .container {
    min-width: 95%;
  }
  .header {
    min-width: 100%;
  }
  .header::before {
    padding: 0 0.5rem;
    min-width: 110%;
  }
  .navigation {
    padding: 2.2rem 0.5rem;
  }
}
