html:has(.toggle__checkbox:checked) {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-box-img: var(--color-green);
  --color-link-bg: var(--color-green);
  --color-grey: #080808;
  --color-input-border: var(--color-white);
  --color-github: #fafafa;
  --color-html: #ff5722;
  --color-css: #2965f1;
  --color-javascript: #ffeb3b;
  --color-reactjs: #00d8ff;
  --color-github: #f5f5f5;
  --color-python: #4b8bbe;
  --color-scss: #ff66cc;
}
